---
import './style.scss';

import Button from '@/components/atoms/button/button.astro';

const {
    title,
    content,
    textColor,
    ctaLabel,
    ctaUrl,
    ctaStyle="primary",
    borderColor,
    style
} = Astro.props;

const primary = style === "primary";
---

<div class={`framed-content p-4 md:p-6 !pb-0 border-${borderColor} border border-b-transparent flex flex-col`}>
    {title && (
        <>
            {primary ? (
                <h2 class={`title text-${textColor} mb-mdMobile md:mb-20`}>{title}</h2>
            ) : (
                <h6 class={`title font-mono text-red mb-mdMobile md:mb-20 uppercase`}>{title}</h6>
            )}
        </>
    )}
    {content && (
        <p class={`content text-${textColor} mt-auto max-md:mb-11`}>{content}</p>
    )}
    {ctaLabel && ctaUrl && (
        <Button
            label={ctaLabel}
            url={ctaUrl}
            style={ctaStyle}
        />
    )}
</div>