---
import './style.scss';

import { Image } from 'astro:assets';
import Button from '@/components/atoms/button/button.astro';

import truck from '@/assets/images/home/truck-left.webp';
import wheelFront from '@/assets/images/home/wheel-front.webp';
import wheelBack from '@/assets/images/home/wheel-back.webp';
import wheelCargo from '@/assets/images/home/wheel-cargo.webp';

const {
    date,
    excerpt,
    image
} = Astro.props;
---

<section class="featured-news bg-white overflow-hidden">
    <div class="grid-container">
        <div class="news-inner relative col-start-3 col-end-13">
            <div class="truck absolute right-[calc(100%+24px)] w-full top-0">
                <Image src={truck} alt="truck"/>
                <div class="wheel wheel-1">
                    <Image src={wheelFront} alt="truck-wheel"/>
                </div>
                <div class="wheel wheel-2">
                    <Image src={wheelBack} alt="truck-wheel"/>
                </div>
                <div class="wheel wheel-3">
                    <Image src={wheelCargo} alt="truck-wheel"/>
                </div>
                <div class="wheel wheel-4">
                    <Image src={wheelCargo} alt="truck-wheel"/>
                </div>
                <div class="wheel wheel-5">
                    <Image src={wheelCargo} alt="truck-wheel"/>
                </div>
            </div>
            <Image src={image} alt='news-image' class="rounded-lg md:rounded-2xl mb-6"/>
            <h6 class="font-mono opacity-50 mb-4">{date}</h6>
            <p class="font-bold mb-6">{excerpt}</p>
            <Button
                url="#"
                label="Leggi"
                style="secondary-variant"
            />
        </div>
    </div>
</section>

<script>
    import { animate, inView, stagger } from 'motion';
  
    document.addEventListener('DOMContentLoaded', () => {
        const featuredNews = document.querySelector('section.featured-news');

        if(!featuredNews)
            return;

        const newsInner = featuredNews.querySelector('.news-inner');
        const newsTruck = featuredNews.querySelector('.truck');

        inView(featuredNews, () => {
            animate(
                newsInner,
                {
                x: ["200vw", 0, 0],
                },
                {
                duration: 4,
                ease: 'linear'
                }
            );
            animate (
                newsTruck,
                {
                    x: [0, 0, '-133.6vw'],
                },
                {
                    duration: 4,
                    ease: 'linear'
                }
            );
          return () => {};
        });
    });
  </script>
  