---
import './style.scss';

import AccordionElement from "@/components/atoms/accordion-element/accordion-element.astro"

import accordionTab from '@/assets/images/svg/accordion-tab.svg';

const {
    roles = [
        {
            title:"",
            contentPreview:"",
            content:"",
            roleUrl:"",
        }
    ]
} = Astro.props;

---

<section class="roles relative bg-light">
    <div class="grid-container">
        <div class="col-start-3 col-end-13">
            {roles.map(role => (
                <AccordionElement
                    title={role.title}
                    contentPreview={role.contentPreview}
                    content={role.content}
                    roleUrl={role.roleUrl}
                    isRole={true}
                />
            ))}
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const readMore = document.querySelectorAll('.read-more');

        readMore.forEach(element => {
            element.addEventListener('click', () => {
                if(element.parentElement.parentElement.classList.contains('open'))
                    CloseAccordionElement(element.parentElement.parentElement);
                else
                    OpenAccordionElement(element.parentElement.parentElement);
            })

            CloseAccordionElement(element.parentElement.parentElement);
        })
    })

    function OpenAccordionElement (element) {
        console.log(element);
        element.classList.add('open');

        const container = element.querySelector('.content');
        const content = element.querySelector('.content>div') as HTMLElement;

        container.style.height = content.getBoundingClientRect().height + (window.innerWidth < 769 ? 132 : 64) + 'px';
    }

    function CloseAccordionElement (element) {
        element.classList.remove('open');

        const container = element.querySelector('.content');

        container.style.height = window.innerWidth < 769 ? '112px' : '44px';
    }
    
</script>