---

import './style.scss';

import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import { Image } from 'astro:assets';
import arrow from '@/assets/images/svg/arrow.svg';
import quote from '@/assets/images/svg/quote.svg';

const {
    imageOnly,
    slides = [
        {
            image: null,
            content: "",
            authorName: "",
            authorRole: "",
            authorImage: "",
        }
    ]
} = Astro.props;
---

<section class="slider bg-light header-dark overflow-hidden">
    <div class="swiper-container">
        <div class="swiper swiper-gallery">
            <div class="swiper-wrapper pl-[calc(16.667vw+24px)]">
                {slides.map(slide => (
                    <div class={`swiper-slide rounded-xl bg-white ${imageOnly ? 'aspect-[0.76]' : 'aspect-[0.56] md:aspect-[0.76]'} ${slide.image ? '' : 'p-4 md:p-6 !inline-flex'} h-full`}>
                        {slide.image ? (
                            <Image src={slide.image} alt='slider-image' class='rounded-xl h-full w-full object-cover'/>
                        ): (
                            <div class="flex quotes mb-4 md:mb-6">
                                <Image src={quote} alt="quote" class='w-[25px] md:w-[50px]'/>
                                <Image src={quote} alt="quote" class='w-[25px] md:w-[50px] -ml-2 md:-ml-4'/>
                            </div>
                            <p class="content h5" set:html={slide.content}></p>
                            <div class="author mt-auto md:flex gap-x-10 items-center">
                                <Image src={slide.authorImage} alt="author-image" class="w-[64px] aspect-square rounded-full max-md:mb-4"/>
                                <div class="author-name-role">
                                    <p class="font-bold mb-1 md:mb-2">{slide.authorName}</p>
                                    <p class="h6 font-mono uppercase">{slide.authorRole}</p>
                                </div>
                            </div>
                        )}
                    </div>
                ))}
                <div class="swiper-slide"></div>
            </div>
        </div>
    </div>
    <div class="slider-cursor pointer-events-none fixed top-0 left-0 w-20 aspect-square bg-red rounded-full flex px-4 justify-between z-[99999]">
        <Image src={arrow} alt='arrow-left'/>
        <Image src={arrow} alt='arrow-right'/>
    </div>
</section>

<script>
    // Swiper
    import Swiper from 'swiper/bundle';

    document.addEventListener('DOMContentLoaded', () => {
        new Swiper('.swiper-gallery', {
        slidesPerView: 1.5,
        spaceBetween: 10,
        breakpoints: {
            769: {
                slidesPerView: 3,
                spaceBetween: 16,
            }
        }
        });
    });

    // Handle cursor
    let sliderCursor = document.querySelector('.slider-cursor') as HTMLElement;
    const slider = document.querySelector('section.slider');
    
    const handleCursor = (e) => {
        const insideBlock = slider.matches(':hover');

        if(!sliderCursor)
            sliderCursor = document.querySelector('.slider-cursor') as HTMLElement;
        else {
            sliderCursor.style.top = e.clientY - 40 + "px";
            sliderCursor.style.left = e.clientX - 40 + "px";
        }
        
        if(insideBlock)
            sliderCursor.classList.add("visible");
        else
            sliderCursor?.classList.remove("visible");
    }

    document.addEventListener('mousemove', (e) => handleCursor(e));
    document.addEventListener('scroll', (e) => handleCursor(e));
</script>