---
import './style.scss';

import Button from '@/components/atoms/button/button.astro';

const {
    content,
    contentColor,
    hasTab,
    bgColor,
    headerColor,
    ctaLabel = '',
    ctaUrl = '',
    ctaStyle = 'primary'
} = Astro.props;

const splitContent = content.split(/\s+/);
---
<section class=`scrolling-text relative bg-${bgColor} header-${headerColor} z-10 pb-lgMobile md:pb-lg`>
    <div class="grid-container">
        <div class=`content col-start-3 col-end-12 ${hasTab ? 'max-md:pt-6 md:-mt-[120px]' : 'md:pt-lg'}`>
            <div class="content-text flex flex-wrap gap-x-3 md:gap-x-6 pt-lgMobile md:pt-0">
                {splitContent.map((word, id) => (
                    <span 
                    class={`h1 opacity-30 text-${contentColor || 'white'}`}
                    >
                    {word}
                    </span>
                ))}
            </div>

            {ctaUrl != '' && (
                <Button
                    label={ctaLabel}
                    url={ctaUrl}
                    style={ctaStyle}
                    buttonClass="mt-14 md:mt-20 fade-element"
                />
            )}
        </div>
    </div>
</section>