---
import './style.scss';

import { Image } from 'astro:assets';
import Button from '@/components/atoms/button/button.astro';

import arrow from '@/assets/images/svg/arrow.svg';

const {
    title,
    contentPreview='',
    image,
    content,
    isRole,
    roleUrl
} = Astro.props;
---

<div class="accordion-element relative">
    <div class="title flex justify-between items-start py-4 md:py-6">
        <div class={`title-content ${isRole ? 'md:max-w-[70%]' : ''}`}>
            <h4>{title}</h4>
            {contentPreview !== '' && (
                <div set:html={contentPreview} class="mt-4 md:mt-6"></div>
            )}
        </div>
        {isRole ? (
            <Button
                label="invia la candidatura"
                url={roleUrl}
                style="tertiary"
                buttonClass="mobile-hidden"
            />
        ) : (
            <div class="arrow-icon p-[10px] bg-light rounded">
                <Image src={arrow} alt='arrow' class="w-[12px] aspect-square brightness-0 rotate-[90deg]"/>
            </div>
        )}
    </div>
    <div class="content relative w-full overflow-hidden">
        <div class="absolute top-0 left-0 w-full md:flex justify-between items-start">
            {image && (
                <Image src={image} alt="accordion-element-image" class="w-[50%] md:w-[30%] mb-6 md:mb-0 rounded-xl"/>
            )}
            <div set:html={content} class="content-inner md:w-[60%]"></div>
        </div>
    </div>
    {isRole && 
        <div class="absolute bottom-0 font-mono uppercase text-dark underline py-6 w-full bg-light">
            <h6 class="read-more">Leggi di <span class="more">più</span><span class="less">meno</span></h6>
        </div>
    }
</div>